body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  #stock-price {
    font-weight: bold;
  }
  
  .news-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .news-item h3 {
    margin-bottom: 5px;
  }
  
  .news-item a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .news-item a:hover {
    text-decoration: underline;
  }
  